<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="umn.ac.id.tugasakhir_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir_Android"
        tools:replace="android:theme, android:icon">
        <activity android:name=".RestoFoodDetail"></activity>
        <activity android:name=".RestoFoodList" />
        <activity android:name=".OrderStatus" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".FoodList" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.TugasAkhir_Android.NoActionBar" />
        <activity
            android:name=".RestoHomeActivity"
            android:theme="@style/Theme.TugasAkhir_Android.NoActionBar" />
        <activity android:name=".RestoOrderListActivity" />
        <activity android:name=".UserCartActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".ForgetPasswordActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MapActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.TugasAkhir_Android.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.TugasAkhir_Android.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TugasAkhir_Android.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>